@import url('./stara-fonts/stara-main.scss');

/* Fonts */
$font-regular: 'StaraMedium', sans-serif;
$font-medium: 'StaraExtraBold', sans-serif;
$font-bold: 'StaraBlack', sans-serif;

$font-size-extralarge:2rem;
$font-size-large: 1.7rem ;
$font-size-medium: 1.4rem;
$font-size-small:  1rem;


/* Colors */
$primary-color: #171B1E;
$secondary-color-darker: #950f0a; 
$secondary-color-lighter: #db2e0c; 
$accent-color-darker: #3a7d7c;
$accent-color-lighter: #70ffd7;
$text-color-muted: #B4BBBD;
$text-color: #E3E5E7;
$support-color: #1B2326;
$black :#000000;

/*base size*/
$base-size: 1rem; //8px

/* Spacing */
$base-spacing: 1rem; //16px
$medium-spacing: 2rem;
$large-spacing: 4rem;

/* Margin */
$margin-small: calc($base-spacing / 2); //8px
$margin-medium: $base-spacing;
$margin-large: calc($base-spacing * 2);

/* Padding */
$padding-small: calc($base-spacing / 2); //8px
$padding-medium: $base-spacing;
$padding-large: calc($base-spacing * 2);


/* Define your breakpoints as variables */
$breakpoint-xs: 340px; // Extra small screens (phones)
$breakpoint-sm: 576px; // Small screens (tablets)
$breakpoint-md: 768px; // Medium screens (tablets)
$breakpoint-lg: 992px;  // Large screens (laptops)
$breakpoint-xl: 1200px; // Extra large screens (desktops)


/* Subpage Hero section background SVGs */

$bg-prism-spiral: url('/public/images/bg-prism-spiral.svg');
$bg-triangle: url('/public/images/bg-triangle.svg');
$bg-spiral: url('/public/images/bg-spiral.svg');

/* ------------------------- MIXINS ------------------------- */

// Flex Centering Elements
@mixin flex-center($flex-direction:row, $justify-content:center, $align-items:center) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

// Button styling 
@mixin button-style($color) {
    display: inline-block;
    padding: $padding-small $padding-medium;
    border: 1px solid;
    background-color: transparent;
    border-radius: 0.6rem; 
    color: $color;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: $font-regular;
    font-size: $font-size-small;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s ease;
    z-index: 0;

    &::before, &::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: $color;
        transition: 1s ease;
    }
       
    &::before {
        top: -1rem;
        left: -1rem;
    }
       
    &::after {
        left: calc(100% + 1rem);
        top: calc(100% + 1rem);
    }
       
    &:hover::before, &:hover::after {
        height: 410px;
        width: 410px;
    }
       
    &:hover {
        transform: scale(1.2);
        color: $support-color;
        font-weight: bold;
    }
    
    &:active {
        filter: brightness(.6);
    }
};

@mixin divider($color:$accent-color-lighter){
    width: 100%;
    height: 1px;
    background-color: $color;
    margin: $margin-medium 0;
}


/* -------------------------UTILITY CLASSES ------------------------- */

.heading_1{
    font-size: $font-size-extralarge;
}

.heading_2{
    font-size: $font-size-large;
}

.heading_3{
    font-size: $font-size-medium;
}

.btn{
    margin: $margin-medium;

    &_accent{
        @extend .btn;
        @include button-style($accent-color-lighter);
    }

    &_secondary{
        @extend .btn;
        @include button-style($secondary-color-lighter);
    }
}

.section{
    padding: $padding-large;
    
    &_primary{
        @extend .section;
        background-color: $primary-color;
    }

    &_support{
        @extend .section;
        background-color: $support-color;
    }
}

.container{
    margin: $margin-large 0;
    padding: $padding-small;
}

.divider{
    &_accent{
        @include divider($accent-color-lighter);
    }
    &_secondary{
        @include divider($secondary-color-lighter);
    }
}


/* ANIMATION UTILS */


@keyframes slide-down {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(100%);
    }
  }


  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }