@import "./base.scss";

.section_about_me {

  & .container {
    @include flex-center(column);
    margin-top: 0;
    gap: 2rem;
    text-align: center;

    & img {
      border-radius: 100%;
    }

    & p {
      font-family: $font-medium;
      color: $text-color-muted;
    }

    & span:nth-last-of-type(5) {
      color: $secondary-color-darker;
    }
    & span:nth-last-of-type(4) {
      color: $accent-color-darker;
    }
    & span:nth-last-of-type(3) {
      color: $secondary-color-darker;
    }
    & span:nth-last-of-type(2) {
      color: $accent-color-darker;
    }
    & span:nth-last-of-type(1) {
      color: $secondary-color-darker;
    }
  }
}
