@import url('./stara-fonts/stara-main.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'StaraBlack', sans-serif;
};

p{
    font-family: 'StaraMedium', sans-serif;
}

