@import './utils';

// Resets
*, *::after, *::before {
    box-sizing: border-box; 
};

*{
    margin: 0;
    padding: 0;
};

img {
    display: block;
    max-width: 100%;
    height: auto;
};

a{
    text-decoration: none;
    color: $text-color-muted;
    transition: all ease-in .15s;

    &:hover{
        color: $accent-color-lighter;
        transform: scale(1.1);
    }
}

ul,
ol {
  list-style: none; 
}

html{
    font-size: 100%;
    width: 100%;
    height: 100%;
}

html,body {
    font-family: $font-regular;
    background-color: $primary-color;
    color: $text-color;
}


h1, h2, h3{
    font-family: $font-bold;
    color: $text-color;
}

h4 ,h5, h6 {
    font-family: $font-medium;
    color: $text-color;
}

h1{
    font-size: $font-size-extralarge;
}

h2{
    font-size: $font-size-large;
}

h3{
    font-size: $font-size-medium;
}

p{
    color: $text-color-muted;
    font-family: $font-regular;
    font-size: $font-size-small;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    line-height: 1.25;
}

/* MEDIA - QUERIES */
@media screen and (max-width: $breakpoint-sm) {
    html{
        font-size: 85%;
    }
}

@media screen and (min-width: $breakpoint-sm) {

    html{
        font-size: 95%;
    }
}

@media screen and (min-width: $breakpoint-md){
    html{
        font-size: 100%;
    }
}