@import "./base.scss";

.section_contact {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXJvc3E5cDJleXdhYmNtMHBhNjVsdWZjeWk3NDIzMmE4bGptODNhMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7aDcrsww5Ybp18hq/giphy.gif");
  background-size: cover;

  @include flex-center(column);

  & .container {
    width: 100%;
    
    & .contact_illustration{
      width: 40%;
      display: none;
    }
  }

  & .contact_form {
    @include flex-center(column, $align-items: start);
    gap: 0.5rem;
    font-family: $font-medium;
    transition: all 0.8s ease;
    
    & label {
      display: block;
      margin-bottom: 0rem;
      text-transform: capitalize;
    }

    & .btn_accent {
      margin-inline: 0;
      transform: scale(0.95);
    }

    & input,
    textarea {
      width: 100%;
      padding: $padding-small $padding-small;
      background: transparent;
      color: $text-color;
      outline: none;
      transition: all .30s ease-in-out;
      border: 1px solid $accent-color-lighter;
      border-radius: .6rem;

      &:focus{
        box-shadow: 0 0 5px $accent-color-lighter;
        border: 2px solid $accent-color-lighter;
      }
    }
  }
}


@media screen and (min-width: $breakpoint-md) {

  .section_contact{
    & .container{
      display: flex;
      align-items: start;
      justify-content: space-evenly;
      & .contact_illustration{
        display: block;
      }

    }
    
    & .contact_form{
      width: 50%;
    }
  }

}
