@import "./base.scss";

.section_portfolio {
  & .container {
    @include flex-center(column);
  }

  .project_filter {
    background-color: $support-color;
    @include flex-center($justify-content: space-between);
    padding: $padding-small;
    margin-bottom: $margin-large;

    #project_filter_options {
      color: $accent-color-lighter;
      border: none;
      background-color: $support-color;
    }
  }

  .portfolio_item {
    @include flex-center(column);
    background-color: $black;
    width: 100%;
    text-align: center;
    padding: $padding-medium;
    border-radius: 2rem;
    gap: 2rem;
    margin-bottom: $margin-large;
    padding: $padding-medium;
    transition: all 0.4s ease;

    .project_cover_image {
      border-radius: 2rem;
      object-fit: cover;
      overflow: hidden;
      max-width: fit-content;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 8px 8px $accent-color-darker;
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      img {
        filter: invert(1);
      }
    }

    &_tech {
      @include flex-center(row, $justify-content: start);
      flex-wrap: wrap;
      gap: 1rem;

      h5 {
        background-color: $support-color;
        padding: 0.5rem 1rem;
        border-radius: 3rem;

        &:hover {
          transform: scale(1.1);
          cursor: default;
        }
      }
    }

    &_links {
      @include flex-center(row, $justify-content: start);
      flex-wrap: wrap;
      gap: 1rem;

      > a {
        border: 3px solid $accent-color-darker;
        border-radius: 100%;

        &:hover {
          border-color: $accent-color-lighter;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {

  .section_portfolio {

    & .portfolio_item{
      max-width: 85%;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {

  .section_portfolio {

    & .portfolio_item{
      @include flex-center;

      & .project_cover_image{
        align-self: self-start;
      }
      &_content{
        max-width: 60%;
        text-align: left;
      }
    }
  }

}


@media screen and (min-width: $breakpoint-xl) {

  .section_portfolio {

    & .container{
      @include flex-center;
      flex-wrap: wrap;
      gap: 2rem;

      & .portfolio_item{
        @include flex-center(column);
        max-width: 45%;
        height: 46rem;
        
        &_content{
          max-width: 90%;
          text-align: center;
          flex: 1;
          overflow-y:auto;
        }

        &_description{
          flex: 1;
          overflow-y: auto;
        }
      }
    }

  }
}
