@import "./base.scss";

.section_skills{
    @include flex-center(column);

    .container{
        @include  flex-center(row);
        flex-wrap: wrap;
        gap: $base-spacing;

        .skill_item{
            @include  flex-center(column);
            width: 7rem;
            margin: $margin-medium 0;
            gap: .5rem;
        }
    }
    
}

