/* Webfont: Stara-Black */

@font-face {
    font-family: 'StaraBlack';
    src: url('../../fonts/Stara-Black.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/Stara-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../../fonts/Stara-Black.ttf') format('truetype'); /* Safari, Android, iOS */
         
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

